/* Basics CSS LandingPage*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
header, .hero, footer{
    background-color: #1F2937;
    color: #f9faf8;
    width: 100%;
}
.hero{
    display: flex;
    align-self: stretch;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    gap: 15%;
}
main{
   display: flex;
   align-self: stretch;
   align-items: center;
   justify-content: space-between;
   color: #F9FAF8;
   flex-flow: column wrap;
}
button{
    background-color: #3882F6;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    color: #f9faf8;
    padding-bottom: 2px;
}
button:hover{
    background-color: #f9faf8;
    color: #f7601b;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/* NAVBAR STYLING STARTS */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    color: #FFF; 
}
.nav-links a{
    color: #E5E7EB;
}
/* LOGO */
.logo a{
    color: #F9FAF8;
}
.logo{
    font-size: 24px;
    color: #F9FAF8;
}

/* NAVBAR MENU */
.menu{
    display: flex;
    gap: 1em;
    font-size: 18px;
}
.menu li{
    padding: 5px 14px;
}
.menu li:hover{
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
}
/* DROPDOWN MENU*/
.services{
    position: relative;
}
.dropdown{
    background-color: rgb(1, 139, 139);
    padding: 1em 0;
    position: absolute;
    display: none;
    border-radius: 8px;
    top: 35px;
}
.dropdown li + li{
    margin-top: 10px;
}
.dropdown li{
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}
.dropdown li:hover{
    background-color: #4c9e9e;
}
.services:hover .dropdown{
    display: block;
}

/* RESPONSIVE NAVBAR MENU STARTS*/

/* CHECKBOX HACK */
input[type=checkbox]{
    display: none;
}

/* HAMBURGER */
.hamburger{
    display: none;
    font-size: 24px;
    user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px){

.menu{
    display: none;
    position: absolute;
    background-color: teal;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
}
.menu li:hover{
    display: inline-block;
    background-color: #4c9e9e;
    transition: 0.3s ease;
}
.menu li + li{
    margin-top: 12px;
}
input[type=checkbox]:checked ~ .menu{
    display: block;
}
.hamburger{
    display: block;
}
.dropdown{
    left: 50px;
    top: 30px;
    transform: translateX(35%);
}
.dropdown li:hover{
    background-color: #4c9e9e;
}

}
/* MAIN CONTENT */
main h1{
    align-self: flex-start;
    font-size: 48px;
    font-weight: bolder;
}
.hero{
    display: flex;
    height: 100vh; 
    gap: 32px; 
}
.hero-text{
    margin-left: 15%;
    display: flex;
    flex-flow: column wrap;
    flex: 1;
}
.hero-text p{
    margin-bottom: 16px;
}
.hero-secondary-text, li{
    color: #E5E7EB;
    font-size: 18px;

}

.image{
    background-color: powderblue;
    border: solid;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-right: 15%;
    min-width: 300px;
    max-height: 100%;
    overflow: hidden;
}
.info{
    display: flex;
    background-color: #FFFFFF;
}
.quote{
    padding: 80px 25%;
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.author{
   display: flex;
   flex-direction: row-reverse;
   font-size: 24px;
   font-weight: bold;
}
.signUp{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 32px;
   background-color: #3882F6;
   border-radius: 5px;
   padding: 36px;
   margin: 100px auto;
   flex-flow: row wrap;
}
.signUp button{
    border: 2px solid #f9faf8;
}
.small{
    font-size: 12px;
}
/* FOOTER */
footer{
    display: block;
    width: 100%;
    text-align: center;
    padding: 24px 0px;
    align-self: stretch;
}